{% extends 'base.html' %}

{% block content %}
    <h1> Customer Record: </h1>

    <div class="card text-center">
        <div class="card-header">
            <h2>{{ customer_record.first_name }} {{ customer_record.last_name }} </h2>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <strong> Email: </strong> {{ customer_record.email }} <br>
            <strong> Phone: </strong> {{ customer_record.phone }} <br>
            <strong> Address:</strong> {{ customer_record.address }}
            {{ customer_record.city }}
            {{ customer_record.state }}
            {{ customer_record.zipcode }}
          </h5>
        </div>
        <div class="card-footer text-body-secondary">
          Created: {{ customer_record.created_at }}
        </div>
      </div>
      <br>
      <a href="{% url 'home' %}" class ="btn btn-secondary">Back</a>
      <a href="{% url 'home' %}" class ="btn btn-danger">Delete</a>


{% endblock %}